@import "menu";
@import "home";
@import "about";

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600&display=swap");

$yellow: #ffe100;

* {
    margin: 0;
    padding: 0;

    font-family: "Bitter", serif;
}

body {
    background-image: url("../assets/images/grunge-vintage-old-paper-background.jpg");
}

button:hover {
    opacity: 0.7;
}
